name: Build UACME

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Build solution
      run: |
        msbuild Source\uacme.sln /p:Configuration=Release /p:Platform=x64 /m

    - name: Upload EXE artifacts
      uses: actions/upload-artifact@v4
      with:
        name: UACME-Build
        path: |
          Source\Akagi\bin\Release\x64\*.exe
          Source\Naka\bin\Release\x64\*.exe
          Source\Yuubari\bin\Release\x64\*.exe
          Source\Fubuki\bin\Release\x64\*.exe
          Source\Akatsuki\bin\Release\x64\*.exe
